@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';
.btn {
    @include btn(176px, 42px, 3px, $primary_color);

    font-size: 14px;
    font-weight: 400;
    color: $white_color;
    padding: 13px 45px;
    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
        transition: background-color 300ms;
    }
}
