@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.btn {
    @include btn(176px, 42px, 3px, $primary_color);

    font-size: 14px;
    font-weight: 400;
    padding: 13px 45px;
    cursor: pointer;
    border: 1px solid $primary_color;

    &:hover {
        transition: background-color 300ms;
    }
}
.primaryBtn {
    background-color: $primary_color;
    color: $white_color;
    &:hover {
        background-color: $white_color;
        color: $primary_color;
    }
}
.secondaryBtn {
    background-color: transparent;
    color: $primary_color;
    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}
