@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    background-color: $primary_color;
    padding: 22px 55px;
    margin-top: -72px;

    @include flex_box_custom(center, center, 20px);
}
.containerCard {
    @include flex_box_custom(center, center, 20px);

    padding: 15px;
}
.contentCard {
    @include flex_box_custom(space-between, left, 14px);

    flex-direction: column;
    font-weight: 400;
    color: $white_color;
    .title {
        font-size: 17px;
    }
    .des {
        font-size: 16px;
        color: #ffffffc7;
    }
}
