@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    @include flex_box_custom(left, start, 30px);
    position: relative;
    padding: 20px 12px;
    border-bottom: 1px solid #e1e1e1;
    transition: all 0.3s ease;
    img {
        width: 70px;
        object-fit: cover;
        cursor: pointer;
    }
    .boxItem {
        @include flex_box_custom(center, left, 0);
        flex-direction: column;
        .title {
            font-size: 16px;
            color: $primary_color;
            cursor: pointer;
        }
        .size {
            font-size: 14px;
            color: #909090;
            margin: 6px 0 10px 0;
        }
        .price {
            font-size: 14px;
            color: $four_color;
            margin-bottom: 6px;
        }
    }
    .boxClose {
        position: absolute;
        top: 8px;
        right: 10px;
        cursor: pointer;
        // transform: translateX(40px);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:hover {
        background-color: #f7f7f7;
        .boxClose {
            // transform: translateX(0);
            opacity: 1;
        }
    }
}
