@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    margin: 85px 0 15px;

    @include flex_box_custom(center, center, 10px);
}
.headline {
    width: 100%;
    height: 4px;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    margin-top: 30px;
}
.containerMiddleBox {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    width: 60%;
    padding: 0 30px;
}
.des {
    font-size: 14px;
    color: $thr_color;
    text-transform: uppercase;
}
.title {
    font-size: 24px;
    color: $primary_color;
}
