@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    @include flex_box_custom(space-between, center, 10px);

    margin-top: 15px;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.containerItem {
    margin-top: 20px;
}
