@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    position: relative;
    padding: 22px 20px 20px 30px;
    .title {
        font-size: 18px;
        color: $four_color;
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 20px;
        padding-bottom: 18px;
    }
    .boxRememberMe {
        @include flex_box_custom(left, center, 12px);
        margin-bottom: 22px;

        span {
            font-size: 14px;
            color: $four_color;
        }
    }
    .boxFullBtn {
        width: 100%;
        height: 43px;
        border-radius: 3px;
        background-color: $primary_color;
        color: $white_color;
        font-size: 14px;
        font-weight: 400;
        padding: 13px 45px;
        cursor: pointer;
        border: 1px solid $primary_color;
        &:hover {
            color: $primary_color;
            background-color: $white_color;
            transition: background-color 300ms;
        }
    }

    .lostPW {
        margin-top: 22px;
        font-size: 14px;
        color: $four_color;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
}
