@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.boxImg {
    width: 300px;
    height: 100%;
    position: relative;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 500ms;
    }
    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 300ms, right 300ms;
    }
    .showFncWhenHover {
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 20px;
        background-color: #fff;
        .boxIcon {
            width: 40px;
            height: 40px;
            @include flex_box_custom(center, center, 0);

            img {
                width: 18px;
                height: 18px;
            }
            &:hover {
                background-color: #e0e0e0;
                transition: background-color 500ms;
            }
        }
    }
}
.title {
    font-size: 16px;
    color: $four_color;
    margin: 8px 0;
}
.priceClass {
    font-size: 14px;
    color: $seconddary_color;
}
