@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    @include flex_box_custom(space-between, unset, 0);
    flex-direction: column;
    height: 100vh;
    padding: 22px 20px 20px 30px;

    .boxBtn {
        @include flex_box_custom(center, center, 10px);
        flex-direction: column;
        .total {
            @include flex_box_custom(space-between, center, 0px);
            width: 100%;
            padding: 14px;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 10px;
        }
    }
}
