@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as *;
.container {
    @include flex_box_custom(space-between, unset, 0);
    flex-direction: column;
    height: 100vh;
    padding: 22px 20px 20px 30px;
    .boxFullBtn {
        width: 100%;
        height: 43px;
        border-radius: 3px;
        background-color: #f2f2f2;
        color: $four_color;
        font-size: 14px;
        font-weight: 400;
        padding: 13px 45px;
        border: 1px solid#f2f2f2;
        cursor: pointer;
        &:hover {
            color: $primary_color;
            background-color: #ededed;
            transition: background-color 300ms ease;
        }
    }
    .boxBtn {
        @include flex_box_custom(center, center, 10px);
        flex-direction: column;
        .total {
            @include flex_box_custom(space-between, center, 0px);
            width: 100%;
            padding: 14px;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 10px;
        }
        .boxItemBtn {
            width: 100%;
            height: 43px;
            border-radius: 3px;
            background-color: $white_color;
            color: $primary_color;
            font-size: 14px;
            font-weight: 400;
            padding: 13px 45px;
            cursor: pointer;
            border: 1px solid $primary_color;
            &:hover {
                color: $white_color;
                background-color: $primary_color;
                transition: background-color 300ms;
            }
        }
    }
}
